In [10]:
# Tuples 
# Creation of tuples

# Empty Tuple
x = tuple()
y = ()
print(x,type(x))
print(y,type(y))

# Homogeneous Tuple
a = (1,2,3,4)
print('a',a,type(a))

# Heterogeneous Tuple
b = (1,2,True,'String')
print('b',b,type(b))

# 2D Tuples
z = ((1,2),(3,4))
print('z',z,type(z))

# Single Item Tuple
f = (1,)
g = (1)
print('f',f,type(f))
print('g',g,type(g))

() <class 'tuple'>
() <class 'tuple'>
a (1, 2, 3, 4) <class 'tuple'>
b (1, 2, True, 'String') <class 'tuple'>
z ((1, 2), (3, 4)) <class 'tuple'>
f (1,) <class 'tuple'>
g 1 <class 'int'>

In [12]:
# Indexing and slicing
T = (1,2,3,4,5)
print(T[0])
print(T[-1])
L = ((1,2),(3,4))
print(L[0][1])

1
5
2

In [14]:
# Tuples are immutable where as List are mutable
# Cannot Edit or Add elements to tuple
t = (1,2,3,4)
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [16]:
# Deleting tuple
print(x)
del x
print(x)

()

NameError: name 'x' is not defined

In [17]:
# Cannot delete part of tuple
x = (1,2,3,4)
del x[0]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
# Operations with tuple
# Arithmatic Operation With tuple
a+b

(1, 2, 3, 4, 1, 2, True, 'String')

In [23]:
a*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [24]:
# Loops with tuple
for i in a :
    print(i)

1
2
3
4

In [25]:
# Membership with tuple
1 in a

True

In [26]:
# Functions
print(len(a))
print(max(a))
print(min(a))
print(sorted(a,reverse = True))

4
4
1
[4, 3, 2, 1]

In [29]:
# Functions specific to tuple
# only read only functionality is available --> this is important where data intigrity is important
a = [1,1,2,3,1,2,3,4,5,1,2,1,2,3,4,6,7,1,8,1,9,10,1]
print(a.count(1))
print(a.index(1))

8
0