# Why Python ?
- Design Philosophy : Easiest language to learn , Code is always well indented , hence easily readable.

- Batteries Included : Additional functionalities given to programmer , for example : Built in data types, built in functions.

- General Purpose Programming : Supports a lot of programming paradigms and python can be used to multiple things : web programming,desktop application,data science

- Libraries/Community : Very strong library available which enables programmer to not write code from scratch.
#### Why Python is famous for data science ? 
- Easy to learn
- Proximity with Maths
- Community

In [10]:
# Python Output : Python is a case sensitive language
print('Hello World')
print("Amitabh Bachan")
print("'Hello World'")
print('"Hello World"')
# Printing Non-string data types
print(7)
print(1.5)
print(True)
# Multi-Line
print("""Hello 
World""")

Hello World
Amitabh Bachan
'Hello World'
"Hello World"
7
1.5
True
Hello
World

In [11]:
# Printing multiple things where sep = ' '
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [13]:
# Printing multiple things where sep = '/'
print('Hello',1,4.5,True,sep = '/')

Hello/1/4.5/True

In [14]:
# Printing multiple things where end = '\n'
print('Hello')
print('World')

Hello
World

In [18]:
# Printing multiple things where end = ' '
print('Hello',end = ' ')
print('World',end = ' ')

Hello World

In [21]:
# Data Types

In [25]:
# Integer
print(8)
# Python can handle very large integer upto : 1*10^308
print(1e308)

8
1e+308

In [27]:
# Float
print(8.55)
# Python can handle very large decimal upto : 1.7*10^308
print(1.7e308)

8.55
1.7e+308

In [28]:
# Boolean
print(True)
print(False)

True
False

In [33]:
# Strings
print('Hello World\nI am new to python')

Hello World
I am new to python

In [34]:
#Complex
print(5+6j)

(5+6j)

In [35]:
#List -> C -> Array
print([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [36]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [37]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [39]:
#Dictionaries
print({'name':'Ipsita','gender':'Female','age':33,'weight':69})

{'name': 'Ipsita', 'gender': 'Female', 'age': 33, 'weight': 69}

In [3]:
# type

print(type(3))
print(type(3.5))
print(type('hello'))
print(type(5+5j))
print(type(True))
print(type([1,2,3,4]))
print((type((1,2,3,4))))
print(type({1,2,3,4}))
print(type({'Name':'Ipsita','Age':33}))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [41]:
# Variables : Variables are created to store already known or unknown values
# Variables are containers for future use.

In [42]:
# Creation of variable in python
# In c/c++
# str name = 'Ipsita'

# In python , you donot need explicit declaration of data type of variable
name = 'Ipsita'
print(name)

Ipsita

In [43]:
# Variable example
a = 5
b = 6
print(a + b)

11

In [46]:
# Dynamic vs Static Typing

# In c/c++
# int a = 5;

# In python
a = 5

# When you donot explicitly tell interpreter data type of variable , interpreter understand the data type of variable from the value assigned to variable.

In [48]:
# Dynamic vs Static Binding
# In python , we donot bind the variable to one data type and through out the program the data type of variable can be changed.
# In c/c++/jave , we bind the variable to one data type and data type of the variable cannot be changed through out the program
a = 5
print(a)
a = 'Ipsita'
print(a)

5
Ipsita

In [49]:
# Simultaneous creation and assignment of variable

In [50]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [51]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [52]:
# Assigning one value to multiple variable
a = b = c = 5
id(a) == id(b) == id(c)

True

In [53]:
# Keywords and Identifiers

# Keywords : Compilation is the process in which the code is converted in machine language or binary.
# Compiler or interpreter does the process of compilation - Interpreter converts line by line and compiler converts the whole program to binary at once and then execution begins
# There are certain words in python and they have special meaning for interpreter,so these words should not be used as variable name.

In [55]:
import keyword as kw
len(kw.kwlist)

36

In [58]:
# Identifiers 
# Name given to either variable , class or function is known as Identifier

# Identifier cannot start with a digit
# 1name = 'Ipsita'
name1 = 'Ipsita'
print(name1)
# Indentifier can only use _ as special charecter
# first-name = 'Ipsita'
first_name = 'Ipsita'
_ = 'Panda'
print(_)
# Identifiers cannot be a keyword
# True = 'Ipsita'

Ipsita
Panda

In [60]:
# User Input
# Calling input function
input()

Ipsita

'Ipsita'

In [62]:
input('Please enter your name : ')

Please enter your name : Ipsita Panda

'Ipsita Panda'

In [66]:
# Take input from users and store then in variables
fnum = int(input('Enter first number : '))
snum = int(input('Enter second number : '))

print(type(fnum),type(snum)) 
# add two variables
result = fnum + snum
# print the result
print(result)

Enter first number : 56
Enter second number : 67
<class 'int'> <class 'int'>
123

In [70]:
# Type Conversion
# string is an universal data format , integer/float/Boolean/complex can be stored in string format but reverse is not true.
print(int('45'))
int('Hello world')

45

ValueError: invalid literal for int() with base 10: 'Hello world'

In [71]:
# Implicit and Explicit Type Conversion 
print( 5 + 5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [73]:
# Explicit type conversion
print(4 + int('4'))

8

In [74]:
#str --> int
int('56')

56

In [75]:
# int --> str
str(56)

'56'

In [76]:
# str --> float
float('56.7')

56.7

In [77]:
# str --> boolean
bool('True')

True

In [78]:
# tuple to list
list((1,2,3))

[1, 2, 3]

In [79]:
# list to tuple
tuple([1,2,3])

(1, 2, 3)

In [84]:
# Literals (raw values stored in variable)
# Integer Literal
a = 0b1010 #Binary literals
b = 100 #Decimal Literals
c = 0o310 # Octal Literals
d = 0x12c #Hexadecimal Literals

# float literal
float_1 = 10.5
float_2 = 1.5e2 # (1.5*10^2)
float_3 = 1.5e-3 # (1.5*10^-3)

# Complex Literal
x = 4 + 3.5j
print(x.real,x.imag)

4.0 3.5

In [81]:
print(a)
print(b)
print(c)
print(d)

10
100
200
300

In [85]:
# String Literal
str1 = 'This is Python'
str2 = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line of code"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(str1)
print(str2)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line of code
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [88]:
# Boolean Literals
a = True + 4
b = False + 10
print("a :",a)
print("b :",b)

a : 5
b : 10

In [89]:
# None Literal : when you donot know value for a variable and you just want to declare.
a = None
print(a)

None