In [3]:
# Sequence Sum
# 1/1! + 2/2! + 3/3! + .......
result = 0
fact = 1
n = int(input('Enter the value of n'))
for i in range(1,n+1):
    fact *= i
    result += i/fact
print(result)

Enter the value of n5
2.708333333333333

In [4]:
#Nested loop
# Example
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [3]:
#
##
###
####
#####

# to print above pattern
n = int(input('Enter the number of rows : '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end = ' ')
    print()

Enter the number of rows : 5
*
* *
* * *
* * * *
* * * * *

In [11]:
n = int(input('Enter the number of rows : '))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print('*',end = ' ')
    print()

Enter the number of rows : 5
* * * * *
* * * *
* * *
* *
*

In [14]:
'''
1
121
12321
1234321
'''

'\n1\n121\n12321\n1234321\n'

In [6]:
n = int(input('Enter the number of rows : '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    for k in range(i-1,0,-1):
        print(k,end = ' ')
    print()

Enter the number of rows : 7
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1

In [17]:
'''
      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1

'''
'''
      1
    1 2 
  1 2 3 
1 2 3 4 
'''

'''
   *
  ** 
 ***
****

'''

'\n      1\n    1 2 1\n  1 2 3 2 1\n1 2 3 4 3 2 1\n\n'

In [23]:
n = int(input('Enter the number of rows : '))
for i in range(1,n+1):
    for j in range(i,n):
        print(' ',end='')
    for k in range(0,i):
        print('*',end = '')
    print()

Enter the number of rows : 5
    *
   **
  ***
 ****
*****

In [7]:
n = int(input('Enter the number of rows : '))
for i in range(1,n+1):
    for j in range(i,n):
        print(' ',end=' ')
    for k in range(1,i+1):
        print(k,end = ' ')
    for l in range(i-1,0,-1):
        print(l,end = ' ')
    print()

Enter the number of rows : 4
      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1

In [32]:
n = int(input('Enter the number of rows : '))
for i in range(1,n+1):
    for j in range(i,n):
        print(' ',end='')
    for k in range(0,i):
        print('*',end = ' ')
    print()

Enter the number of rows : 5
    *
   * *
  * * *
 * * * *
* * * * *

In [33]:
# Loop Control Statement
# Break : breaks the loop and does not execute
# searching in database may need break condition
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [3]:
# find the prime numbers in the range

lower = int(input('Enter the lower range'))
upper = int(input('Enter the upper range'))
for i in range(lower,upper + 1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

Enter the lower range10
Enter the upper range20
11
13
17
19

In [2]:
#Test

for i in range(1,1):
    print(i)
else:
    print('a')

a

In [4]:
# Continue : Goes to next iteration in the loop
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [6]:
# The pass statement is used as a placeholder for future code. 
for i in range(1,10):
    pass

##### Strings are sequence of charecters 
###### In python specifically , strings are a sequence of Unicode charecters
- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

In [11]:
# Creating Strings
s1 = 'Hello'
print(s1)
s2 = "Hello"
print(s2)
# For multiline string
s3 = '''Hello'''
print(s3)
s4 = str(4)
print(type(s4))

Hello
Hello
Hello
<class 'str'>

In [9]:
# Using double and single quote together 
"It's raining outside"

"It's raining outside"

In [15]:
# Accessing Substring from string
# Positive Indexing
s = 'Hello World'
print(s[0])
print(s[0],s[1],s[2],s[3],s[4],s[5],sep = '')

H
Hello

In [9]:
# Negative Indexing
s = 'hello world'
print(s[-1])
print(s[-1::-1])

d
dlrow olleh

In [11]:
# Slicing
s = 'Hello World'
print(s[0:5])
# With step size
print(s[0::2])
print(s[::3])

Hello
HloWrd
HlWl

In [13]:
s = 'Hello World'
print(s[len(s)::-1])
print(s[::-1])
print(s[-1:-6:-1])

dlroW olleH
dlroW olleH
dlroW

In [16]:
#Adding Chars to Strings
#Editing and deleting in Strings
s = 'hello world'
#s[0] = 'H'
s = 'Hello world'
# Strings are immutable(str object does not support item assignment)
# but string variable assigned to a new string

In [19]:
s = 'hello world'
# del s[-1:-5:-2]
# Cannot delete a portion of string as python strings are immutable
del s
# print(s)
# NameError: name 's' is not defined (s has been deleted)

In [ ]:
# Operations on Strings
## Arithmatic Operations
## Relational Operations
## Logical Operations
## Loops on Strings
## Membership Operations

In [25]:
## Arithmatic Operations
print('Hello'+' '+'World')
print('Hello ! '*3 + ' ' + 'World')

Hello World
Hello ! Hello ! Hello !  World

In [28]:
## Relational Operations
print('Delhi' == 'Mumbai')
print('Delhi' != 'Mumbai')
print('Mumbai' > 'Pune') # Compared lexiographically (based on ascii value)
print('mumbai' > 'Mumbai') # small letters have higher ascii value than capital letters

False
True
False
True

In [32]:
## Logical Operators
# Empty string is false and non empty string is True
print('Hello' and 'World') # evaluates complete expression
print('Hello' or 'World') # evaluates first value in expression
print('' and 'World')
print('' or 'World')

World
Hello

World

In [33]:
# Loops on String
# String is iterable
for i in 'HelloWorld':
    print(i)

H
e
l
l
o
W
o
r
l
d

In [34]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [35]:
# membership operators
print('d' in 'delhi')
print('D' not in 'delhi')

True
True

In [36]:
# Common Functions works on all data types
## Len
## Max
## Min
## Sorted

In [37]:
len('hello world')

11

In [38]:
max('hello world')

'w'

In [39]:
min('hello world')

' '

In [40]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [41]:
sorted('hello world',reverse = True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [46]:
# String Functions

# Capitalize
s = 'hello world'
print('Capitalize')
print(s.capitalize())
print(s) # function does not change original string
print()
# Title
print('Title')
print(s.title())
print(s)
print()
# Upper
print('Upper')
print(s.upper())
print(s)
print()
#Lower
print('Lower')
print(s.lower())
print(s)
print()
#Swapcase
print('Swapcase')
print(s.swapcase())
print(s)
print()

Capitalize
Hello world
hello world

Title
Hello World
hello world

Upper
HELLO WORLD
hello world

Lower
hello world
hello world

Swapcase
HELLO WORLD
hello world

In [47]:
# Count : Frequency of occurance of a charecter or sub string
'My name is ipsita panda'.count('i')

3

In [49]:
# Find : Index position of the sub string
print('My name is ipsita panda'.find('is'))
print('My name is ipsita panda'.find('x'))

8
-1

In [51]:
# Index : Index position of the sub string
print('My name is ipsita panda'.index('is'))
# print('My name is ipsita panda'.index('x'))
# Throws error if cannot find the substring in the string

8

In [52]:
# Endswith/Startswith
print('My name is ipsita panda'.endswith('panda'))
print('My name is ipsita panda'.startswith('my'))

True
False

In [56]:
# format
name = 'Ipsita'
gender = 'female'
print('Hi my name is {} and I am a {}'.format(name,gender))
print('Hi my name is {1} and I am a {0}'.format(gender,name))

Hi my name is Ipsita and I am a female
Hi my name is Ipsita and I am a female

In [57]:
# isalnum/isapha/isdigit/isidentifier

In [58]:
'ipsita1234'.isalnum()

True

In [59]:
'ipsita1234%'.isalnum()

False

In [60]:
'ipsita'.isalpha()

True

In [61]:
'ipsita1234'.isalpha()

False

In [62]:
'1234'.isdigit()

True

In [64]:
print('first_name'.isidentifier())
print('first-name'.isidentifier())

True
False

In [65]:
# Splits string to list
'Hi my name is Ipsita Panda'.split()

['Hi', 'my', 'name', 'is', 'Ipsita', 'Panda']

In [66]:
'Hi my name is Ipsita Panda'.split('i')

['H', ' my name ', 's Ips', 'ta Panda']

In [68]:
#Joins list to form a string
' '.join(['Hi','my','name','is','Ipsita','Panda'])

'Hi my name is Ipsita Panda'

In [70]:
# Replace : Original string is not changed
s = 'Hi my name is Ipsita'
print(s.replace('Ipsita','Ipsita Panda'))
print(s)
print(s.replace('ipsita','ipsita panda')) # if sub string not present original string is printed

Hi my name is Ipsita Panda
Hi my name is Ipsita
Hi my name is Ipsita

In [74]:
# Find the length of a given string without using the len function
# Excluding space
s = input('Enter a string and we will tell you its length : ')
count = 0
for i in s:
    if i == ' ':
        continue
    count += 1
print('The length of your string is ',count)

Enter a string and we will tell you its length : Ipsita Panda
The length of your string is  11

In [78]:
# Including Space
print(len('Ipsita Panda'))
s = input('Enter a string and we will tell you its length : ')
count = 0
for i in s:
    count += 1
print('The length of your string is ',count)

12
Enter a string and we will tell you its length : Ipsita Panda
The length of your string is  12

In [79]:
# Extract user name from a given email.
# Eg if the email is ipsitabitece@gmail.com
# user name is ipsitabitece

s = input('Enter your email id')

lst = s.split('@')
print('The user name is ',lst[0])

Enter your email idipsitabitece@gmail.com
The user name is  ipsitabitece

In [80]:
# Extract user name from a given email.
# Eg if the email is ipsitabitece@gmail.com
# user name is ipsitabitece


s = input('Enter your email id')
pos = s.index('@')
print(s[:pos])

Enter your email idipsitabitece@gmail.com
ipsitabitece

In [81]:
# Count the frequency of a particular charecter in a provided string
# Eg 'Hello how are you' is the string , the frequency of h in this string is 2

s = input('Enter the string')
term = input('What would you like to search')
count = 0
for i in s:
    if i == term:
        count += 1
print('frequency is ',count)

Enter the stringHow are you?
What would you like to searcho
frequency is  2

In [83]:
# Count the frequency of a particular charecter in a provided string
# Eg 'Hello how are you' is the string , the frequency of h in this string is 2
s = input('Enter the string')
term = input('What would you like to search')

print('frequency',s.count(term))

Enter the stringHow are you?
What would you like to searcho
frequency 2

In [84]:
# Write a program which can remove a particular charecter from string

s = input('Enter the string')
term = input('Enter the charecter you want to remove')
list_no_term = s.split(term)
print(' '.join(list_no_term))

Enter the stringHi I am Ipsita Panda,how are you doing ?
Enter the charecter you want to removeo
Hi I am Ipsita Panda,h w are y u d ing ?

In [88]:
s = input('Enter the string')
term = input('Enter the charecter you want to remove')
result = ' '
for i in s:
    if i != term:
        result = result + i
print(result)

Enter the stringipsita panda
Enter the charecter you want to removei
 psta panda

In [90]:
# Write a program that can check whether a given string is palindrome or not
# abba
# malayalam

s = input('Enter ther string')
flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i-1]:
        flag = False
        print('Not a palindrome')
        break
if flag:
    print('Palindrome')

Enter ther stringracecar
Palindrome

In [95]:
s = input('Enter the string')
for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i-1]:
        print('Not a palindrome')
        break
else:
    print('Palindrome')

Enter the stringnewen
Palindrome

In [6]:
# Write a program to count the number of words in a string without split()
count = 0
lst = []
word = ''
s = input('Enter the string')
for i in s:
    if i != ' ':
        word += i
    else:
        lst.append(word)
        word = ''
lst.append(word)
print(lst)

Enter the stringipsita panda
['ipsita', 'panda']

In [9]:
# Write a python program to convert a string to title case without using the title()

s = input('enter the string')
l = []
for i in s.split():
    l.append(i[0].upper() + i[1:].lower())
print(' '.join(l))

enter the stringhow are you ipsita
How Are You Ipsita

In [13]:
# Write a program that can convert an integer to string
# str(489)

num = int(input('Enter the number'))

digits = '0123456789'
result = ''
while num != 0:
    result = digits[num%10] + result
    num = num//10
    
print(result)

Enter the number567
567